
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}





nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px ;
}

.nav-title{
    font-weight:800 ;
    font-size: 28px;
}

nav ul li {
    list-style: none;

}
.ultra-main{
   
    margin: 0 auto;
}
.btn-primary{
    padding: 17px 24px;
    background-color: white;
    color: #0D1321;
    border-radius: 8px;
}
.banner-title{
    font-weight: bolder;
    font-size:48px ;
    text-align: center;
}
.banner-description{
    font-size: 16px;
    text-align: center;
}
.banner-content{
   max-width: 998px;
   margin: 0 auto;

}
.img{
   margin: 26px 800px;
   text-align: center;
}
.banner{
    background-image: url('../assets/Hero-bg.png');
    text-align: center;

}

.btn-second{
    padding: 17px 24px;
    background-color: #0D1321;
    color: white;
    border-radius: 8px;
}
.text-center{
    text-align: center;
    margin: 245px 249px;
}
.second-head{
    font-weight: bolder;
    font-size:32px ;
    text-align: center;
}
.second-para{
    text-align: center;
    
}
.second{
    max-width: 852px;
    margin: 0 auto;
}
.why{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 48px;
    max-width: 946px;
    text-align: center;
}

.why-title{
font-weight: bold;
font-size: 24px;
}
.why-pic{
    width: 275px;
}

.add-video{
text-align: center;
}
main{
    max-width:1140px ;
    margin: 0 auto;
}

.target4{
    display: flex;
    gap: 24px;
    padding: 40px;
}
.target9{
    max-width: 946px;
    margin: 0 auto;
    text-align: center;
}
    
.last{
    display: flex;
  background-color: antiquewhite;
    border-radius: 12px;
    padding:24px ;
}
.img2{
    width: 95px;
    padding:55px 40px ;
}
footer{
    max-width:1140px ;
    margin: 0 auto;
}
.final{
    background-image:url(../assets/handshake.jpg);
    width: 1140px;
    height: 313px;
    padding: auto;
}
.final-heading{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
   padding-top: 64px;
}
.final-para{
    text-align: center;
    color: #FFFFFF;
    max-width:600px ;
    margin: 0 auto;
}
.last-input{
    text-align: center;
    font-weight: 800px;
    font-size: 57px;
    
    
}
.mango{
    height: 57px;
    width: 548px ;
}
.mango2{
    height: 57px;
    width: 120px;
}
