
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}





nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px ;
}

.nav-title{
    font-weight:800 ;
    font-size: 28px;
}

nav ul li {
    list-style: none;

}
.btn-primary{
    padding: 17px 24px;
    background-color: white;
    color: #0D1321;
    border-radius: 8px;
}
.banner-title{
    font-weight: bolder;
    font-size:48px ;
    text-align: center;
}
.banner-description{
    font-size: 16px;
    text-align: center;
}
.banner-content{
   max-width: 998px;
   margin: 0 auto;

}
.img{
   margin: 26px 800px;
}
.banner{
    background-image: url('../assets/Hero-bg.png');
    text-align: center;

}

.btn-second{
    padding: 17px 24px;
    background-color: #0D1321;
    color: white;
    border-radius: 8px;
}
.text-center{
    text-align: center;
    margin: 245px 249px;
}
.second-head{
    font-weight: bolder;
    font-size:32px ;
    text-align: center;
}
.second-para{
    text-align: center;
    
}
.second{
    max-width: 852px;
    margin: 0 auto;
}

.why{
    display: flex;
    justify-content: space-between;
    margin: 0 250px 0 400px;
    padding: 48px;
    max-width: 946px;
}

.why-title{
font-weight: bold;
font-size: 24px;
}
.why-pic{
    width: 275px;
}

    


